@model IEnumerable<Proyecto_DSW1.Models.usp_CategoriaNombre_Result>

@{
    ViewBag.Title = "CategoriaListar";
}
<body style="background-color: #42413D ">

<h2 class="text-center"style="color:whitesmoke ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">CONSULTA POR CATEGORIA</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<br />
@using (Html.BeginForm())
{
    <strong class="texto" style="color:whitesmoke">Ingrese  Categoria :  </strong>
    <input class="texto" type="text" name="nom_cat" value="@ViewBag.nom_cat" style="border-radius:8px; border-color:white"/>
    <input  type="submit" value="Consultar" class="btn btn-success" style="background-color: black; border-color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"/>
}
<br />
<table class="table" style="background-color: #42413D; border-radius: 10px ">
    <tr>
        <th >
            PRODUCTO
        </th>
        <th>
            CATEGORIA
        </th>
        <th>
            STOCK
        </th>
        <th>
            PRECIO
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_cat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sto_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pre_prod)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>
</body>
<style>
    th {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:whitesmoke
    }
    td {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke
    }
    .texto {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
</style>