@model IEnumerable<Proyecto_DSW1.Models.Producto>

@{
    ViewBag.Tittle = "Index";
}

<body style="background-color: #42413D">

    <h2 class="text-center" style="font-size:100px ;color:whitesmoke ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">STORE</h2>
    <!-- SLIDER -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="banner-img" src="~/fotos/bannerLG.png" alt="...">
            </div>
            <div class="item">
                <img class="banner-img" src="~/fotos/bannerLaptop.jpg" alt="...">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container container-productos">
        @foreach (var item in Model)
        {
            <div class="producto-item">
                <div class="product-inner">
                    <div class="product-thumb has-back-image">
                        <img src="@Url.Content( item.img_prod)" alt="@item.des_prod" />
                        <div class="gorup-button">
                            <a href="detail-prod.html" class="quick-view"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="text-uppercase marca">@item.Categoria.nom_cat</p>
                        <h3 class="product-name">@item.nom_prod</h3>
                        <span class="price" style="font-weight: 600">@String.Format("{0:C}", item.pre_prod)</span>
                        <p class="price-normal">Stock: @item.sto_prod</p>
                        <div class="button">
                            @Html.ActionLink("Agregar al carrito", "AgregarCarrito", "Carrito", new { id = item.idProducto }, "")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @section Scripts
{
        <script>
     $(function () {
         $(".agregar").on("click", function (event) {
             event.preventDefault();
             var idProducto = $(this).parent().parent().find("h5:eq(0)").text();
             var cantidad = $(this).parent().parent().find("input").val();

             $.ajax(
                 {
                     url: "@Url.Action("AgregarCarrito", "Carrito")",
                     data: { id: idProducto, cantidad: cantidad },
                     type: "post",
                     success: function (response) {
                         window.location.href = "@Url.Action("AgregarCarrito", "Carrito")";
                     },
                     error: function (err, error) {
                         alert(error + " " + idProducto + " " + cantidad);
                     }
                 }
             );
         });

         $(".numbers").keydown(function (e) {

             if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 40]) !== -1 ||
                 (e.keyCode == 65 && e.ctrlKey === true) ||
                 (e.keyCode >= 35 && e.keyCode <= 39)) {
                 return;
             }

             if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                 e.preventDefault();
             }
         });

     });
        </script>
    }
</body>
<style>
    .banner-img {
        width: 100%;
        height: 100%;
    }

    img {
        max-width: 200px;
        max-height: 200px;
        vertical-align: middle;
    }

    .button {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 9px 25px;
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: transparent;
        position: relative;
        background-color: #111111;
        font-size: 12px;
        border: none;
    }

        .button:hover,
        input[type="submit"]:hover {
            background-color: #e5e5e5;
            color: #000;
        }

    /*Producto*/
    .container-productos {
        overflow: hidden;
    }

    .producto-item {
        display: inline-block;
        float: left;
    }

    .product-inner {
        margin: 10px;
        border: 2px solid black;
        border-radius: 15px;
    }

        .product-inner .product-thumb {
            position: relative;
        }

        .product-inner .product-info {
            text-align: left;
        }

        .product-inner .product-name {
            margin-bottom: 8px;
            /*	margin-top: 5px;*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    th {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    td {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    .texto {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
</style>