<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto DSW</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STORE", "IndexCarrito", "Producto", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Productos", "IndexCarrito", "Producto")</li>
                    <li>@Html.ActionLink("Consulta", "CategoriaListar", "Consulta")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Productos</li>
                            <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Clientes</li>
                            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Cerrar Sesión", "Login", "Login")</li>
                </ul>               
            </div><!--/.nav-collapse -->
        </div>
    </nav>





    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

<footer>
    @*style="background-color: rgb(33 33 33 / 0.65)*@
    <div class="footer-top">
        <div class="container">
            <div class="row flex-flow">
                <div class="col-sm-12 col-md-4 footer-sidebar">
                    <div class="widget contact-info">
                        <h3 class="widget-title">Contáctanos</h3>
                        <div class="content">
                            <p class="address"> Ubicacion - Independencia</p>
                            <p class="address">atencionalcliente@commerce.pe</p>
                            <p class="phone"><i class="fa fa-phone"></i> (01) 200-0333</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 footer-sidebar">
                    <div class="widget our-service">
                        <h3 class="widget-title">SERVICIO AL CLIENTE</h3>
                        <div class="content">
                            <ul>
                                <li><a class="a" href="">Términos & Condiciones</a></li>
                                <li><a class="a" href="">Libro de reclamaciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 footer-sidebar">
                    <div class="widget our-service">
                        <h3 class="widget-title">INFORMACIÓN</h3>
                        <div class="content">
                            <ul>
                                <li><a class="a" href="">Tarjeta virtual</a></li>
                                <li><a class="a" href="">¿Cómo funciona?</a></li>
                                <li><a class="a" href="">Preguntas frecuentes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center">STORE Todos los derechos reservados</p>
        </div>
    </div>
</footer>
</html>
<style>
    body{
        margin:0;
        display:grid;
        min-height:100vh;
        grid-template-rows:auto 1fr auto;
        padding-bottom:0
    }
    footer {
        background-color: #B3B6B7;
        padding:1em 0 0 0;
        margin-top:auto;
        padding-top:0
    }
    p {
        font-size: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    h3 {
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .a {
        font-size: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    }
    a {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
</style>
