@model IEnumerable<Proyecto_DSW1.Models.Producto>

@{
    ViewBag.Title = "MANTENIMIENTO PRODUCTO";
}
<body  style="background-color: #42413D" >

    <h2 class="text-center" style="color:whitesmoke ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">MANTENIMIENTO DE PRODUCTOS</h2>

<p>
    @Html.ActionLink("AGREGAR PRODUCTO", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" style="background-color: #42413D; border-radius: 10px ">
    <tr>
        <th>
            CODIGO
        </th>
        <th>
            CATEGORIA
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            PRECIO
        </th>
        <th>
            STOCK
        </th>

        <th>
            IMAGEN
        </th>
        <th>
            MODIFICAR
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nom_cat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pre_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sto_prod)
            </td>
            <td>
                <img class="container-img" src="@Url.Content(item.img_prod)" alt="Photo" style="width:120px;height:70px" />
            </td>
            <td>
                @Html.ActionLink("MODIFICAR", "Edit", new { id = item.idProducto }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("ELIMINAR", "Delete", new { id = item.idProducto }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<br />
</body>

<style>

    .container-img {
        width: 120px;
        height: 70px;
        border-radius:10px;
    }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    th {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    td {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    .texto {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
</style>