@model Proyecto_DSW1.Models.Cliente

@{
    ViewBag.Title = "Details";
}
<body style="background-color: #42413D ">

<h2 class="text-center" style="color:whitesmoke ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Información de @Html.DisplayFor(model => model.nom_cli) @Html.DisplayFor(model => model.ape_cli)</h2>

<div>
    <h4 class="texto" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Datos del Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            DNI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_clie)
        </dd>

        <dt>
            NOMBRE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_cli)
        </dd>

        <dt>
            APELLIDO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_cli)
        </dd>

        <dt>
            CORREO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail_cli)
        </dd>

        <dt>
            TELEFONO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_cli)
        </dd>

        <dt>
            DISTRITO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.nom_dis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCliente }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Volver al listado", "Index",null, new { @class = "btn btn-warning" })
</p>
</body>
<style>
    dd {
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    dt {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }
    .texto {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:whitesmoke
    }
</style>