@model IEnumerable<Proyecto_DSW1.Models.Cliente>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: #42413D" >

<h2 class="text-center" style="color:whitesmoke ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">MANTENIMIENTO DE CLIENTES</h2>

<p>
    @Html.ActionLink("AGREGAR CLIENTE", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" style="background-color: #42413D; border-radius: 10px ">
    <tr>
        <th>
            DNI
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            APELLIDO
        </th>
        <th>
            CORREO
        </th>
        <th>
            TELEFONO
        </th>
        <th>
            DISTRITO
        </th>
        <th>
            MODIFICAR
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dni_clie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ape_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito.nom_dis)
            </td>
            <td>              
                @Html.ActionLink("EDITAR", "Edit", new { id = item.idCliente })  |
                @Html.ActionLink("INFO", "Details", new { id = item.idCliente })  |
                @Html.ActionLink("ELIMINAR", "Delete", new { id = item.idCliente })
            </td>
        </tr>
    }

</table>
</body>
<style>

    .container-img {
        width: 120px;
        height: 70px;
        border-radius: 10px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    th {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    td {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: whitesmoke;
    }

    .texto {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
</style>